<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:from="http://www.w3.org/1999/html">
<head>
</head>
<body>
<h3>Welcome, enter user details.</h3>
<form:form method="POST" action="/spring-mvc-xml/addUser" modelAttribute="user">
    <table>
        <tr>
            <td><from:label path="username">Username</from:label></td>
            <td><form:input path="username"/></td>
        </tr>
        <tr>
            <td><from:label path="firstName">First Name</from:label></td>
            <td><form:input path="firstName"/></td>
        </tr>
        <tr>
            <td><from:label path="lastName">Last Name</from:label></td>
            <td><form:input path="lastName"/></td>
        </tr>
        <tr>
            <td><from:label path="password">Password</from:label></td>
            <td><form:input path="password"/></td>
        </tr>
        <tr>
            <td><from:label path="username">Username</from:label></td>
            <td><form:input path="username"/></td>
        </tr>
    </table>

</form:form>

</body>
</html>